# Secrets
.env

# Environments
.venv/
venv/
ENV/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Airflow
airflow-logs/
unittests.db
airflow.db

# Frontend
ui/node_modules/
ui/dist/
ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*

# Backups and Large Files
*.tar.gz
*.zip
*.log

# OS
.DS_Store
Thumbs.db
